<section class="container">
  <div class="user-box">
  <% if @user.photo %>
  <img class="card-img-top" src='<%= @user.photo %>' alt='<%= @user.name %> thumbnail' />
<% end %>
    <div class="user-info">
      <p class="user-name"><%= @user.name %></p>
      <p class="user-post">Number of posts: <%= @user.posts_counter%></p>
    </div>
  </div>
  <p class="user-bio"><%= @user.bio %></p>
  <% @user.three_most_recent_post.each do |post| %>
    <%= link_to user_post_path(@user.id, post.id) do %>
      <div class="user-recent-post">
        <p class="post-title"><strong>Post</strong> : <%= post.title %></p>
        <p class="post-text"><%= post.text %></p>
        <h3 class="counters">Comments: <%= post.comments_counter %> <h3>
         <h3> Likes: <%= post.likes_counter %> <h3 >
          
          </div>
        <% end %>
      <% end %>
      <div class="button-user">
        <button class="button">
          <%= link_to "See all posts", user_posts_path(@user), class:"text-button" %>
        </button>
      </div>
    </section>