<section class="container">
  <div class="post-info">
    <div class="post-title-box">
      <p class="post-title">Post : <%= @post.title %> by <%= @post.author.name %></p>
     
    </div>
    <p><%= @post.text %></p>
     <p class="comment-text">Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></p>

     <div class = 'd-flex'>

     <% if can? :destroy , @post %>
     <%= button_to 'Delete Post', user_post_path(@user, @post), method: :delete, class: "btn btn-danger mx-3" %>
     <% end %>

     <%= render "likes/add_like"%>
     </div>


  </div>
  <div class="comment-info">
    <% @post.five_recent_comments.each do |comment| %>
      <div>
        <p>
          <span>
            <%= comment.author.name %>:
          </span>
          <span>
            <%= comment.text %>
          </span>
        </p>
      </div>
      <% if can? :destroy , comment %>
      <%= button_to 'Delete comment', user_post_comment_path(@user , @post , comment), method: :delete, class: "btn btn-dark" %>
      <% end %>

      
    <% end %>
  </div>
  <%= render "comments/add_comment" %>
</section>

